@{
    ViewData["Title"] = "Giới thiệu";
}


<style>
    .card {
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        transition: 0.3s;
    }

        .card:hover {
            box-shadow: 0 12px 24px rgba(0,0,0,0.2);
        }

    .container {
        padding: 2px 16px;
    }

    body {
        font-family: Gotham;
    }
    .portfolio-container{
        display:flex;
        flex-wrap:wrap;
    }
    .search-icon {
        width: 500px;
        height: 41px;
        outline-style: none;
        border-radius: 20px;
        color:black;
        font-weight:600;
        border:solid 2px #808080;
    }
    .portfolio-thumbnail{
        margin:20px 0 20px 0;
    }
    .iconn {
        display:flex;
        justify-content:center;

    }
        .iconn i {
            margin-left: 20px;
            font-size: 30px;
            color: #4D8BD3
        }
        section{
            padding: 0 0;
        }
</style>
<script>
    $(document).ready(function () {
        $("#myinput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#card div").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);

            });
        });
    });


</script>
<section class="about-meal">
    <div class="container">
        <h1 class="section-heading" style="font-size:40px;color:#333">Music</h1>
        <div class="about-meal-wrap flex">
            <div class="flex-1">
                <img src="https://cdn.voh.com.vn/voh/thumbnail/2020/02/01/babaunghenhacvanhungloiichtuyetvoi2_20200201221115.jpg" alt="" style="width:300px;height:200px;border:0;"
            </div>
            <div class="flex-1">
                <h2>Lợi ích của việc cho thai Nhi Nghe nhạc ?</h2>
                <p>
                    Nghe nhạc thai giáo cho thai nhi hay thai giáo bằng âm
                    nhạc là một trong những phương pháp thai giáo phổ biến
                    được bố mẹ trên toàn thế giới nói chung và Việt Nam nói
                    riêng yêu thích. Việc cho thai nhi nghe những bản nhạc mang
                    âm điệu nhẹ nhàng vừa tạo ra sợi dây gắn kết tình cảm vô
                    hình hai mẹ con vừa có thể kích thích não bộ của bé.
                </p>
                <button class="btn btn-secondary">Read More</button>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div id="portfolio" class="text-center paddsection">
        <div class="section-title text-center">
            <h2>Danh Sách Nhạc Thư Giãn</h2><br>
        </div>
        <div class="containerr">
            <div class="row">
                <div class="col-md-12">
                    <input id="myinput" type="text" placeholder="Search..." class="search-icon"><br><br>

                    <div class="portfolio-container" id="card">

                        <div class="col-md-4 portfolio-thumbnail  ">
                            <div class="card" id="card">
                                <iframe width="335" height="315" src="https://www.youtube.com/embed/9XjPc4sQO7o" title="YouTube video player"
                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                <h4><b>Nhạc Không Lời</b></h4>
                                <div class="iconn">
                                    <p>Nhẹ nhàng</p>
                                    <i class="fas fa-headphones-alt"></i>
                                </div>
                                
                            </div>
                        </div>

                        <div class="col-md-4 portfolio-thumbnail all ">
                            <div class="card" id="card">
                                <iframe width="335" height="315" src="https://www.youtube.com/embed/ghJ2G1LfOhU" title="YouTube video player"
                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                <h4><b>Nhạc Tiếng Anh</b></h4>
                                <div class="iconn">
                                    <p>Nhẹ nhàng</p>
                                    <i class="fas fa-headphones-alt"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 portfolio-thumbnail ">
                            <div class="card" id="card">
                                <iframe width="335" height="315" src="https://www.youtube.com/embed/dS2DqSr0UXA" title="YouTube video player"
                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                <h4><b>Nhạc chill</b></h4>
                                <div class="iconn">
                                    <p>Nhẹ nhàng</p>
                                    <i class="fas fa-headphones-alt"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 portfolio-thumbnail ">
                            <div class="card" id="card">
                                <iframe width="335" height="315" src="https://www.youtube.com/embed/agRRkeNDmp4" title="YouTube video player"
                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                <h4><b>Nhạc Không Lời</b></h4>
                                <div class="iconn">
                                    <p>Nhẹ nhàng</p>
                                    <i class="fas fa-headphones-alt"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 portfolio-thumbnail ">
                            <div class="card" id="card">
                                <iframe width="335" height="315" src="https://www.youtube.com/embed/HSOtku1j600" title="YouTube video player"
                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                <h4><b>Nhạc Chill</b></h4>
                                <div class="iconn">
                                    <p>ballad</p>
                                    <i class="fas fa-headphones-alt"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 portfolio-thumbnail ">
                            <div class="card" id="card">
                                <iframe width="335" height="315" src="https://www.youtube.com/embed/Y4uFkcvpi3Y" title="YouTube video player"
                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                <h4><b>Nhạc Không lời</b></h4>
                                <div class="iconn">
                                    <p>Giai điệu vui nhộn</p>
                                    <i class="fas fa-headphones-alt"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 portfolio-thumbnail ">
                            <div class="card" id="card">
                                <iframe width="335" height="315" src="https://www.youtube.com/embed/EBSegrHpreY" title="YouTube video player"
                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                <h4><b>Nhạc Chill</b></h4>
                                <div class="iconn">
                                    <p>Sâu lắng</p>
                                    <i class="fas fa-headphones-alt"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 portfolio-thumbnail ">
                            <div class="card" id="card">
                                <iframe width="335" height="315" src="https://www.youtube.com/embed/QKUNo8MOzQA" title="YouTube video player"
                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                <h4><b>Nhạc Tiếng Anh</b></h4>
                                <div class="iconn">
                                    <p>ballad</p>
                                    <i class="fas fa-headphones-alt"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 portfolio-thumbnail ">
                            <div class="card" id="card">
                                <iframe width="335" height="315" src="https://www.youtube.com/embed/zpf6Iu8EbLk" title="YouTube video player"
                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                <h4><b>Nhạc Douyn</b></h4>
                                <div class="iconn">
                                    <p>Nhẹ nhàng</p>
                                    <i class="fas fa-headphones-alt"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 portfolio-thumbnail ">
                            <div class="card" id="card">
                                <iframe width="335" height="315" src="https://www.youtube.com/embed/up2pTuqkA3g" title="YouTube video player"
                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                <h4><b>Nhạc Không lời</b></h4>
                                <div class="iconn">
                                    <p>Giai điệu vui nhộn</p>
                                    <i class="fas fa-headphones-alt"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 portfolio-thumbnail ">
                            <div class="card" id="card">
                                <iframe width="335" height="315" src="https://www.youtube.com/embed/vX1FLo2SD0s" title="YouTube video player"
                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                <h4><b>Nhạc Tiếng Anh</b></h4>
                                <div class="iconn">
                                    <p>Nhẹ nhàng</p>
                                    <i class="fas fa-headphones-alt"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 portfolio-thumbnail ">
                            <div class="card" id="card">
                                <iframe width="335" height="315" src="https://www.youtube.com/embed/qoP9Dp_er2w" title="YouTube video player"
                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                <h4><b>Nhạc Không Lời</b></h4>
                                <div class="iconn">
                                    <p>ballad</p>
                                    <i class="fas fa-headphones-alt"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row justify-content-center">
                <div class="col">
                    <h1 class="text-center py-4">@ViewData["Title"]</h1>

                    <h5>Project Manager:</h5>
                    <p>Nguyễn Hoàng Huy    18110293 (PM)</p>
                    <hr />
                    <h5>
                        Developer:
                    </h5>
                    <p>
                        1. Lê Văn Hoàn         18110111
                    </p>
                    <p>
                        2. Ngô Anh Quốc        18110186
                    </p>
                    <p>
                        3. Trần Quốc Việt      18110238
                    </p>
                    <hr />
                    <h5>
                        Danh sách yêu cầu đề tài:
                    </h5>
                    <p>
                        🚀 1. Khai thác họ tên, năm sinh và số tuổi thai</br>
                        🚀 2. Đề xuất các chế dộ dinh dưỡng, thể dục</br>
                        🚀 3. Thời gian khám thai định kì</br>
                        🚀 4. Chức năng theo dõi thai kì và sự phát triển của bé</br>
                        🚀 5. Hiển thị những vắc xin cần tiêm cho trẻ trong thời kì mang thai</br>
                        🚀 6. Đề xuất được các bệnh viện phụ sản uy tín</br>
                    </p>
                    <button></button>
                </div>
        </div>*@
    </div>
</div>

