@{
    ViewData["Title"] = "vechungtoi";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <h1 class="text-center py-4">@ViewData["Title"]</h1>

            <h5>Project Manager:</h5>
            <p>Nguyễn Hoàng Huy    18110293 (PM)</p>
            <hr />
            <h5>
                Developer:
            </h5>
            <p>
                1. Lê Văn Hoàn         18110111
            </p>
            <p>
                2. Ngô Anh Quốc        18110186
            </p>
            <p>
                3. Trần Quốc Việt      18110238
            </p>
            <hr />
            <h5>
                Danh sách yêu cầu đề tài:
            </h5>
            <p>
                🚀 1. Khai thác họ tên, năm sinh và số tuổi thai</br>
                🚀 2. Đề xuất các chế dộ dinh dưỡng, thể dục</br>
                🚀 3. Thời gian khám thai định kì</br>
                🚀 4. Chức năng theo dõi thai kì và sự phát triển của bé</br>
                🚀 5. Hiển thị những vắc xin cần tiêm cho trẻ trong thời kì mang thai</br>
                🚀 6. Đề xuất được các bệnh viện phụ sản uy tín</br>
            </p>
            <hr />
            <h5>
                Credit
            </h5>
            <p>
                <a href="http://www.freepik.com">Designed by rawpixel.com / Freepik</a>
            </p>
           
        </div>
    </div>
</div>
