@{
    ViewData["Title"] = "Thucdon";
}
<head>
    <link href="~/css/Nutrition.css" rel="stylesheet" />
</head>
<body>
    <div class="wrap">
        <div class="dudoan">
            <h1>Thông tin dinh dưỡng theo số tuổi thai nhi</h1>
        </div>
        <div class="tinhtoan">
            <p>Nhập số ngày thai:  <input class="input-text" type="text" id="test" value=0></p>

            <button class="btn-abouts" href="#" ; onclick="aboutuspage();">Tính toán</button>
            </br>

        </div>
        <div class="day-birth">
            Dự đoán số ngày thai nhi ra đời: <p class="doan"></p>
        </div>
        <div style="width:100%;height:100%" class="trangchu" id="aboutus"></div>
    </div>
  

    <script>
    $(document).ready(function () {

        $('.btn-abouts').click(function () {
            if ($("#test").val() <= 280 && $("#test").val() > 0) {
                var time = 280 - $("#test").val();
                var month = Math.floor(time / 30);
                var day = time % 30;
                if (time >= 190) {
                    $(".doan").empty();
                    $(".doan").append(month + " tháng" + " " + day + " ngày");
                    $('#aboutus').load('@Url.Action("thaidau","Home")');


                } else if (time < 190 && time >= 100) {
                    $(".doan").empty();
                    $(".doan").append(month + " tháng" + " " + day + " ngày");
                    $('#aboutus').load('@Url.Action("thaigiua","Home")');
                } else {
                    $(".doan").empty();
                    $(".doan").append(month + " tháng" + " " + day + " ngày");
                    $('#aboutus').load('@Url.Action("thaicuoi","Home")');
                }
            } else {
                $(".doan").empty();
                $(".doan").append("giá trị không phù hợp ");
            }

        });

     });
    </script>
</body>

