
@{
    ViewData["Title"] = "";
}

    </br>
<h1 style="align-items:center;display:flex;justify-content:center">Thai kì 3 tháng cuối </h1>
<section class="about-meal">
    <div class="container">
        <h1 class="section-heading">Thực đơn hàng ngày của thai nhi 9 tháng tuổi</h1>
        <div class="about-meal-wrap flex">
            <div class="flex-1">
                <img class="img-thu" src="~/asset/thucdon03.png" alt="">
            </div>
            <div class="flex-2">
                <h2>Bà bầu nên ăn gì trong 3 tháng cuối ?</h2>
                <p>
                    👪 .THỰC PHẨM GIÀU PROTEIN </br>
                    👪 .CÁ HỒI chứa nhiều axit béo Omega3 </br>
                    👪 .TRỨNG </br>
                    👪 .CÁC LOẠI QUẢ HẠCH </br>
                    👪 .SỮA VÀ CÁC SẢN PHẨM TỪ SỮA </br>
                    👪 .UÔNG NHIỀU NƯỚC </br>
                    👪 .CẮT GIẢM ĐỒ ĂN CÓ CAFFEIN </br>
                </p>
                <button class="btn btn-secondary">Read More</button>
            </div>
        </div>
    </div>
</section>
<section class="latest-news">
    <div class="container">
        <h1 class="section-heading">Hình ảnh thai nhi trong giai đoạn 3 tháng cuối</h1>
        <div class="article-wrapper">
            <article class="card magic-shadow-sm">
                <div>
                    <img src="~/asset/3thangcuoi1.jpg" alt="">
                </div>
                <div class="card-content">
                    <div class="post-meta flex items-center justify-between">
                        <span>2021</span>
                        <div>
                            <strong>Ảnh minh họa</strong>
                        </div>
                    </div>

                    <h2>Thai nhi được 31 tuần tuổi</h2>
                    <p>
                        Toàn thân bé, bao gồm cả cánh tay, cẳng chân đang tích tụ nhiều mỡ hơn, trở nên thật tròn trịa. Làn da nhăn nheo trước đây giờ đã căng bóng
                    </p>
                </div>
            </article>

            <article class="card magic-shadow-sm">
                <div>
                    <img src="~/asset/3thangcuoi2.jpg" alt="">
                </div>
                <div class="card-content">
                    <div class="post-meta flex items-center justify-between">
                        <span>2021</span>
                        <div>
                            <strong>Ảnh minh họa</strong>
                        </div>
                    </div>

                    <h2>Thai nhi được 35 tuần tuổi</h2>
                    <p>
                        Đến tuần này, tử cung của mẹ đã trở nên khá chật chội, không còn đủ chỗ cho bé nhào lộn nữa
                    </p>
                </div>
            </article>


        </div>
        <div class="article-wrapper">

            <article class="card magic-shadow-sm">
                <div>
                    <img src="~/asset/3thangcuoi3.jpg" alt="">
                </div>
                <div class="card-content">
                    <div class="post-meta flex items-center justify-between">
                        <span>2021</span>
                        <div>
                            <strong>Ảnh minh họa</strong>
                        </div>
                    </div>

                    <h2>Thai nhi được 38 tuần tuổi</h2>
                    <p>
                        Lúc này, tay của bé đã có thể tạo ra phản xạ cầm, nắm mạnh mẽ. Các cơ quan trong cơ thể cũng đã hình thành đầy đủ và chờ đợi sẵn sàng cho một cuộc sống bên ngoài cơ thể
                    </p>
                </div>
            </article>
            <article class="card magic-shadow-sm">
                <div>
                    <img src="~/asset/3thangcuoi4.jpg" alt="">
                </div>
                <div class="card-content">
                    <div class="post-meta flex items-center justify-between">
                        <span>2021</span>
                        <div>
                            <strong>Ảnh minh họa</strong>
                        </div>
                    </div>

                    <h2>Thai nhi được 40 tuần tuổi</h2>
                    <p>
                        Xương đầu của bé vẫn chưa khớp lại để dễ dàng lọt qua đường sinh. Sau khi ra đời, mẹ sẽ nhận thấy rằng đầu bé hơi nhọn.
                    </p>
                </div>
            </article>
        </div>

    </div>
</section>
<section class="about-meal">
    <h1 class="section-heading">Trái cây tốt cho thai phụ 3 tháng cuối</h1>
    <div class="containerr">
        <div class="boxx">
            <div class="imgBx">
                <img class="card-image" src="~/asset/vietquat.jpg" alt="">
            </div>
            <div class="detail">
                <h2>
                    Việt Quất <br>
                              <span>giàu các chất chống oxy hóa vitamin C, vitamin B2, vitamin B6, vitamin E và vitamin K</span>
                </h2>
            </div>
        </div>
        <div class="boxx">
            <div class="imgBx">
                <img class="card-image" src="~/asset/hõngiem.jpg" alt="">
            </div>
            <ul class="social-icon">
            </ul>
            <div class="detail">
                <h2>
                    Hồng Xiêm <br>
                              <span>Các vi chất dinh dưỡng trong hồng xiêm cũng giúp mẹ bầu tránh táo bón, ngăn ngừa vi khuẩn, giảm phù nề</span>
                </h2>
            </div>
        </div>
        <div class="boxx">
            <div class="imgBx">
                <img class="card-image" src="~/asset/roi.jpg" alt="">
            </div>
            <div class="detail">
                <h2>
                    Mận <br>
                        <span>Hàm lượng chất xơ cao trong roi còn giúp giảm tình trạng táo bón và giúp lượng đường hấp thu vào trong máu từ từ.</span>
                </h2>
            </div>
        </div>
    </div>

</section>
