
@{
    ViewData["Title"] = "";
}

    </br>
<h1 style="align-items:center;display:flex;justify-content:center">Thai kì 3 tháng giữa </h1>
<section class="about-meal">
    <div class="container">
        <h1 class="section-heading">Thực đơn hàng ngày của thai nhi 6 tháng tuổi</h1>
        <div class="about-meal-wrap flex">
            <div class="flex-1">
                <img class="img-thu" src="~/asset/thucdon02.png" alt="">
            </div>
            <div class="flex-2">
                <h2>Nhu cầu năng lượng và dưỡng chất cần thiết</h2>
                <p>
                    👪 .CHẤT ĐẠM cần thiết để hình thành bào thai, và nhau thai và mô cơ thể mẹ </br>
                    👪 .CHẤT BÉO cần thiết cho việc xây dựng màng tế bào và hệ thống thân kinh của thai nhi </br>
                    👪 .CHẤT XƠ thai phụ cần bổ sung từ ngũ cốc, khoai lang, trái cây, rau xanh,.. </br>
                    👪 .CANXI trợ giúp cho quá trình hình thành xương của thai nhi </br>
                    👪 .AXIT FOLIC cần thiết cho sự phát triển của thai nhi, đặc biệt là về ống thân kinh</br>
                    👪 .VITAMIN A Cung cấp và tăng sức đề kháng cho thai nhi</br>
                </p>
                <button class="btn btn-secondary">Read More</button>
            </div>
        </div>
    </div>
</section>
<section class="latest-news">
    <div class="container">
        <h1 class="section-heading">Hình ảnh thai nhi trong giai đoạn 3 tháng giữa</h1>
        <div class="article-wrapper">
            <article class="card magic-shadow-sm">
                <div>
                    <img src="~/asset/3thanggiua1.jpg" alt="">
                </div>
                <div class="card-content">
                    <div class="post-meta flex items-center justify-between">
                        <span>2021</span>
                        <div>
                            <strong>Ảnh minh họa</strong>
                        </div>
                    </div>

                    <h2>Thai nhi được 17 tuần tuổi</h2>
                    <p>
                        Ở tuần 17, xương sụn mềm của bé đang dần cứng lại thành xương trưởng thành. Ngoài ra,  dây rốn bé cũng đang phát triển để dày hơn và chắc chắn hơn.
                    </p>
                </div>
            </article>

            <article class="card magic-shadow-sm">
                <div>
                    <img src="~/asset/3thanggiua2.jpg" alt="">
                </div>
                <div class="card-content">
                    <div class="post-meta flex items-center justify-between">
                        <span>2021</span>
                        <div>
                            <strong>Ảnh minh họa</strong>
                        </div>
                    </div>

                    <h2>Thai nhi được 20 tuần tuổi</h2>
                    <p>
                        Bé luyện tập nuốt nước ối nhiều hơn trong tuần này. Đây là sự chuẩn bị cho sự phát triển của hệ tiêu hóa. Ruột của bé cũng đã bắt đầu sản xuất phân xu và giữ tất cả lại trong trực tràng
                    </p>
                </div>
            </article>


        </div>
        <div class="article-wrapper">

            <article class="card magic-shadow-sm">
                <div>
                    <img src="~/asset/3thanggiua3.jpg" alt="">
                </div>
                <div class="card-content">
                    <div class="post-meta flex items-center justify-between">
                        <span>2021</span>
                        <div>
                            <strong>Ảnh minh họa</strong>
                        </div>
                    </div>

                    <h2>Thai nhi được 24 tuần tuổi</h2>
                    <p>
                        Bộ não của bé đang phát triển rất nhanh chóng và vị giác đang được hoàn thiện dần. Lúc này, các nhánh khí quản cũng đang được hình thành trong phổi.

                    </p>
                </div>
            </article>
            <article class="card magic-shadow-sm">
                <div>
                    <img src="~/asset/3thanggiua4.jpg" alt="">
                </div>
                <div class="card-content">
                    <div class="post-meta flex items-center justify-between">
                        <span>2021</span>
                        <div>
                            <strong>Ảnh minh họa</strong>
                        </div>
                    </div>

                    <h2>Thai nhi được 27 tuần tuổi</h2>
                    <p>
                        Bé đã có thể mở và khép mắt. Chu kỳ ngủ và thức của bé cũng đều đặn hơn. Bé cũng hay mút ngón tay của mình. Với sự phát triển của các mô não, bộ não của bé bây giờ đang hoạt động rất tích cực.
                    </p>
                </div>
            </article>
        </div>

    </div>
</section>
<section class="about-meal">
    <h1 class="section-heading">Trái cây tốt cho thai phụ 3 tháng giữa</h1>
    <div class="containerr">
        <div class="boxx">
            <div class="imgBx">
                <img class="card-image" src="~/asset/xoai.jpg" alt="">
            </div>
            <div class="detail">
                <h2>
                    Xoài <br>
                         <span>Tốt cho hệ tiêu hoá, giảm thiếu máu, tăng cường hệ miễn dịch, cải thiện trí nhớ, tốt cho hệ xương</span>
                </h2>
            </div>
        </div>
        <div class="boxx">
            <div class="imgBx">
                <img class="card-image" src="~/asset/bo.jpg" alt="">
            </div>
            <ul class="social-icon">
            </ul>
            <div class="detail">
                <h2>
                    Bơ <br>
                       <span> hỗ trợ tiêu hoá, hỗ trợ duy trì mức cholesterol và đường trong cơ thể</span>
                </h2>
            </div>
        </div>
        <div class="boxx">
            <div class="imgBx">
                <img class="card-image" src="~/asset/dua.jpg" alt="">
            </div>
            <div class="detail">
                <h2>
                    Dứa <br>
                        <span>giúp mẹ bầu cải thiện tâm trạng, điều hoà huyết áp, cung cấp chất xơ, vitamin C và các vitamin nhóm B</span>
                </h2>
            </div>
        </div>
    </div>

</section>
