
@{
    
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" href="~/Admin/Manage/Index" id="user" >Users</a></li>
    <li class="nav-item"><a class="nav-link" href="~/Admin/Manage/Doctors" id="doctors" >Doctors</a></li>
    <li class="nav-item"><a class="nav-link" href="~/Admin/Manage/Hospitals" id="hospitals" >Hospitals</a></li>
</ul>
