footer {
    background: #2D333F;
    padding-top: 30px;
    display: block;
}
footer div.container {
    display: flex;
}
@media only screen and (max-width: 900px) {
    footer div.container{
        flex-direction: column;
        align-items: center;
    }
  }

footer div.box{
    width: calc(100%/3);
    text-align: center;
}
    footer div.box h3 {
        color: #fff;
        border-bottom: #fff 1px solid;
        padding: 10px 0;
        margin: 0 10px;
        margin-bottom: 20px;
    }
footer div.box .box-item{
    margin: 10px 0;
}
    footer div.box .box-item a {
        text-decoration: none;
        color: #fff;
    }
.copyright {
    
    padding: 1rem 0;
    text-align:center;
    
}
.copy{
    
}
.copy a {
    color: #fff;
    text-decoration: none;
    text-align:center;
}
footer p {
    color: #fff;
}
